<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>lollipop</display-name>
    
     <context-param>
        <param-name>boot.applicationConfiguration</param-name>
        <param-value>/boot/components/core.xml;/boot/components/services.xml;/boot/components/webservices.xml</param-value>
    </context-param>
    
  <listener>
    <listener-class>io.vertigo.vega.impl.webservice.servlet.AppServletContextListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>SparkFilter</filter-name>
    <filter-class>io.vertigo.vega.plugins.webservice.webserver.sparkjava.VegaSparkFilter</filter-class>    
  </filter>
  
  <filter-mapping>
    <filter-name>SparkFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>